body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  background-color: hsl(20, 100%, 97%);
  margin-bottom: 1em;
}

a {
  color: black
}

h1 {
  color: green;
  font-size: 1rem;
  /* border: 0px;
  padding: 0px;
  margin: 0px;
  //// //// this is solving the height
     //// ////  of my canvas but its a rude way to do it
  line-height: 1rem; */
  -webkit-text-stroke:1px black;
}

canvas {
  background-color:azure;
}

/* html body button {
  background: transparent;
  border: transparent;

  size: 400px
} */

#gameBox {
  
    /* width: 960px;
    height: 540px; */
    margin-top: 20px;
    position: relative;
  
}
